@model List<MVC_APP.Models.Employee>

<h2>Employee List</h2>
<table class="table">
    <thead>
        <tr>
            <th>Name</th>
            <th>Surname</th>
            <th>Country</th>
            <th>Salary</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var employee in Model)
        {
            <tr>
                <td>@employee.Name</td>
                <td>@employee.Surname</td>
                <td>@employee.Nationality</td>
                <td>@employee.Salary</td>
                <td>
                    <a href="/Employee/Edit/@employee.Id">Edit</a>
                    | <a href="/Employee/Delete/@employee.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>

<a href="/Employee/Create" class="btn btn-primary">Add Employee</a>